
.countriesSelectorContainer{
    height: 58px;
    width: 30.31vw;
    margin-bottom: 30px;
    border: 1px solid #b6b9bc; 
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
}

select{
    height: 30px;
    width: 20px;
    border: none;
    outline: none;
    margin-top: -20px;
    margin-left: -120px;
}

select:hover{
    outline: none;
    background-color: none;
}

.selectContainer{
    background-color: none;
    margin-top: 20px;
    margin-left: 80px;
}

.phoneNumberInput{
    height: 40px;
    width: 200px;
    margin-top: 12px;
    margin-left: -40px;
    border: none;
    outline: none;
    
}

.flag-img{
    height: 25px;
    width: 30px;
    margin-top: 15px;
    padding-top: 5px;
    margin-left: 30px;
}

@media only screen and (max-width: 1024px){
    .countriesSelectorContainer{
        width: 31.6vw;
    }
}