@import url('https://fonts.googleapis.com/css?family=Cairo');

.footerContainer{
    height: 60.78vh;
    width: 100%;
    background-color: #09080d;
    margin: 52.9px 0 0;
    padding: 54px 0 36px 272px;
    display: flex;
    flex-direction: column;
}

.footerInfo{
    display: flex;
    flex-direction: row;
    color: #ffff;
}

.footerHeaders1{
    margin-top: 3%;
    margin-left: 0.5%;
    font-family: Cairo;
}

.footerHeaders2{
    margin-top: 3%;
    margin-left: 10.5%;
    font-family: Cairo;
}

.footerHeaders3{
    margin-top: 3%;
    margin-left: 10.2%;
    font-family: Cairo;
}


.coloumnContainer{
    display: flex;
    flex-direction: row;
}

.firstColoumn{
    margin-left: 10px;
}

.pTag{
    color: #ffff;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    font-family: Cairo;
}

.secondColoumn{
    margin-left: 70px;
}

.thirdColoumn{
    margin-left: 140px;
}

.forthColoumn{
    margin-left: 70px;
}

.mapPic{
    z-index: 0;
    width: 30.2vw;
    height: 32.2vh;
    margin-top: 100px;
}

hr{
    width: 1376px;
    height: 0;
    margin: 4px 272px 0 0;
    border: solid 1px #707070;
}

.lastLayer{
    display: flex;
    flex-direction: row;
}

.copyRightPart{
    justify-content: flex-start;
    margin-top: 10px;
}

.copyRightSpan{
    color: #ffff;
    margin-left: 0px;
    font-family: Cairo;
}

img{
    margin-left: 10px;
}

.footerLogos{
    margin-left: 1100px;
    margin-top: 10px;
}

@media only screen and (max-width: 1024px){
    .footerContainer{
        margin-top: 20px;
        width: 100%;
    }
    .footerLogo{
        margin-left: -20%;
        width: 300px;
    }
    .pTag{
        font-size: 9px;
        background-color: black;
    }

    .footerInfo{
        margin-left: -24%;
    }

    .coloumnContainer{
        margin-left: -25%;
    }

    .secondColoumn{
        margin-left: 4%;
    }

    .thirdColoumn{
        margin-left: 8%;
    }

    .mapPic{
        position: absolute;
        height: 250px;
        width: 650px;
        margin-left: -50px;
        margin-top: 30px;
        margin-right: 50px;
    }

    .footerHr{
        width: 550px;
        margin-left: -25%;
    }

    .copyRightPart{
        font-size: 10px;
        margin-left: -23%;
    }
    .footerLogos{
        margin-left: 50%;
        width: 100px;
    }
    img{
        float: left;
    }
   
}