.navbarContainer{
    display: flex;
    height: 60px;
    width: 100vw;
    margin-top: 58px;
    flex-direction: row;
}

.pageNames{
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    margin-top: -15px;
    
}

a{
    margin: 37px;
    text-decoration: none;
    color: #1f2937
}

.getAnEstimateButton{
    width: 9.16vw;
    height: 4.95vh;
    margin: 3px;
    margin-left: 40px;
    padding: 15px 18px 14px;
    background-color: #03989b;
    color: #ffff;
    font-weight: 700;
    outline: none;
    border: none;
    border-radius: 3px;
}

.logo{
    height: 3.88vh;
    width: 13.2vw;
    margin-left: 272px;
    margin-top: 10px;
}


{/*select{
    margin-top: 3px;
    height: 5vh;
    width: 3vw;
    border: none;
    outline: 0;
    margin-left: 30px;
}

option:not(:checked){
    height: 78px;
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.16);
    background-color:#ffffff;
    border:0px;
    outline:0px;
}*/
}

.selectContainer1{
    height: 50px;
    width: 60px;
    text-decoration: none;
    outline: none;
    border: 1px solid #ffffff
}

.selectContainer:hover{
    background-color: #ffffff;
}

.selectContainer:active{
    background-color: #ffffff;
}

.selectContainer:checked{
    background-color: #ffffff;
}
.selectItem{
    background-color: #ffffff;
    
}
