@import url('https://fonts.googleapis.com/css?family=Rubik');

.navbarContainer{
    display: flex;
    height: 60px;
    width: 100vw;
    margin-top: 58px;
    flex-direction: row;
}

.pageNames{
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    margin-top: -15px;
    font-family: Rubik;
}

.navbarLinks{
    margin: 37px;
    text-decoration: none;
    color: #1f2937
}


.getAnEstimateButton{
    width: 9.16vw;
    height: 4.95vh;
    margin: 3px;
    margin-left: 40px;
    padding: 15px 18px 14px;
    background-color: #03989b;
    color: #ffff;
    font-weight: 700;
    font-family: Rubik;
    outline: none;
    border: none;
    border-radius: 3px;
}

.logo{
    height: 3.88vh;
    width: 13.2vw;
    margin-left: 272px;
    margin-top: 10px;
}

.contact{
    color: #03989b;
    font-weight: 700;
}

.selectContainer1{
    height: 50px;
    width: 60px;
    text-decoration: none;
    outline: none;
    margin-left: 60px;
    border: 1px solid #ffffff;
}

.selectContainer:hover{
    background-color: #ffffff;
}

.selectContainer:active{
    background-color: #ffffff;
}

.selectContainer:checked{
    background-color: #ffffff;
}
.selectItem{
    background-color: #ffffff;
}

@media only screen and (max-width: 1024px){
    .logo{
        margin-left: 20%;
    }

    .menuLink{
        margin-left: 40%;
    }

    .menu{
        margin-top: -33%;
        width: 7vw;
        height: 6vh;
    }
}
