@import url('https://fonts.googleapis.com/css?family=Rubik');


.cardContainer{
    height: 52.58vh;
    width: 19.7vw;
    background-image: url("../../pictures/picture1.png");
}

.cardContainer1{
    height: 52.58vh;
    width: 19.7vw;
    background-image: url("../../pictures/picture2.png");
}

.cardContainer2{
    height: 52.58vh;
    width: 19.7vw;
    background-image: url("../../pictures/picture3.png");
}

.cardContainer3{
    height: 52.58vh;
    width: 19.7vw;
    background-image: url("../../pictures/picture4.png");
}

.cardContainer4{
    height: 52.58vh;
    width: 19.7vw;
    background-image: url("../../pictures/picture5.png");
}

.cardContainer5{
    height: 52.58vh;
    width: 19.7vw;
    background-image: url("../../pictures/picture6.png");
}


.tipographyContainer{
    display: flex;
    flex-direction: column;
    margin-top: -60px;
    width: 15vw;
}

.typographyHeader{
    color: #ffffff;
    font-weight: 300;
    font-size: 38px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
}

.typographyContent{
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    margin-top: 250px;
    margin-left: -60px;
    font-family: Rubik;
}

.grid{
   width: 100%;
   height: auto;
   margin: auto;
   margin-left:11%;
}

@media only screen and (max-width: 1024px){
    .grid{
        margin-left: 13%;
    }
}


