.workPanelContainer{
    margin-left: 50%;
    margin-top: 98px;
}

.workpanelH2{
    color: #1f2937;
}

.workpanelLinksContainer{
    margin-left: -25%;
    margin-top: 44px;
}

a{
    font-size: 18px;
    font-weight: bold;
    color: #1f2937;
    margin-left: 40px;
}