.workPanelContainer{
    margin-top: 98px;
    margin-left: 30%;
}

.headerOurWorks{
    margin-left: 20%;
    margin-bottom: 3%;
}

a{
    font-size: 18px;
    font-weight: bold;
    color: #1f2937;
    margin-left: 40px;
    text-decoration: none;
}

@media only screen and (max-width: 1024px){
    .workPanelContainer{
        margin-top: 98px;
        margin-left: 13%;
    }

    .headerOurWorks{
        margin-left: 35%;
        margin-top: -19%;
        margin-bottom: 20%;
        font-size: 18px;
    }    

    a{
        font-size: 16px;
    }
}
