.companyContactMainContainer{
    width: 35.8vw;
    height: 125vh;
    margin-top: -30px;
    background-color: #f1f1f1;
    grid-column-end: 6;
    display: grid;
}

span{
    color: #1f2937;
}

h2{
    color: #1f2937;
}

.pTagContainer{
    margin-left: 137px;
    margin-top: 90px;
}

.phoneOrEmailSpan{
    margin: 0 22px 26px 0;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: 0.28px;
    text-align: center;
    color: #1f2937;
}

.emailSpan{
    margin: 26px 152px 2px 0;
    font-family: Rubik;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: 0.2px;
    text-align: left;
    color: #1f2937;
}

.numsSpanContainer{
    margin-top: 20px;
}

.numberSpan1{
    font-size: 14px;
    margin: 20px 157px 7px 0;
    font-family: Rubik;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: 0.2px;
    text-align: left;
    color: #1f2937;
}

.numberSpan2{
    margin: 7px 157px 50px 0;
    font-family: Rubik;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: 0.2px;
    text-align: left;
    color: #1f2937;
}



.findUs{
    font-family: Rubik;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: 0.25px;
    text-align: left;
    color: #1f2937;
}


.facebookImage{
    height: 2.78vh;
    width: 1.4vw;
    object-fit: contain;
}

.linkedinImage{
    height: 2.78vh;
    width: 1.4vw;
    object-fit: contain;
}

.twitterImage{
    height: 2.78vh;
    width: 1.4vw;
    object-fit: contain;
}

.githubImage{
    height: 2.78vh;
    width: 1.4vw;
    object-fit: contain;
}

.instagramImage{
    height: 2.78vh;
    width: 1.4vw;
    object-fit: contain;
}

.imageContainer{
    display: grid;
    margin-left: -10px;
    grid-template-columns: 5% 5% 5% 5% 5%;
}

.findUsContainer{
    margin-top: 40px;
}

.citySpan{
    font-size: 65px;
    font-weight: bold;
    width: 11.77vw;
    margin-top: 120px;
}

.addressLineSpan{
    margin-top: 5px;
    font-size: 13px;
}

.addressLineSpan1{
    margin-top: -18px;
    font-size: 13px;
}

.addressContainer{
    display: flex;
    flex-direction: row;
}

.innerAddressLineSpan1{
    margin-left: 137px;
    font-size: 13px;
}

.innerCityLineSpan1{
    margin-left: 137px;
    font-size: 13px;
}

.innerAddressLineSpan{
    margin-left: 80px;
    font-size: 13px;
}

.innerCityLineSpan{
    margin-left: 80px;
    font-size: 13px;
}

.firstH2{
    margin-left: 137px;
    margin-bottom: 5px;
    margin-top: 50px;
}

.secondH2{
    margin-left: 80px;
    margin-bottom: 5px;
    margin-top: 50px;
}

.messageIcon{
    height: 35vh;
    width: 30vw;
    margin-left: 30%;
}

.emailUnderline{
    width: 132px;
    height: 0;
    margin: 2px 151.5px 5px 0px;
    border: solid 0.5px #aaadb3;
}


@media only screen and (max-width: 1024px){
    .companyContactMainContainer{
        margin-left: 100px;
        margin-top: 250px;
        height: 133vh;
        width: 60vw;
    }

    .citySpan{
        font-size: 55px;
    }
    
    .addressContainer{
        display: flex;
        flex-direction: column;
    }

    .secondH2{
        margin-left: 22%;
    }
    .innerAddressLineSpan{
        margin-left: 22%;
    }
    .innerCityLineSpan{
        margin-left: 22%;
    }

    .messageIcon{
        margin-left: 53%;
        margin-top: -20%;
        height: 30vh;
        z-index: 0;
    }

    .lastParagraphContainer{
        margin-top: -10px;
    }
}