input{
    outline: none;
}

p{
    font-size: 70px;
    font-weight: 700;
    text-align: center;
    color: #1f2937;
}

.contactContainer{
    width: 29.73vw;
    height: 40vh;
    margin: 272px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0%;
}

.inputContainer{
    display: flex;
    flex-direction:column;
}

.nameSurenameContainer{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.nameInput{
    height: 64px;
    width: 12.6vw;
    margin-right: 30px;
    padding-left: 30px;
    border: solid 1px #b6b9bc;
}

.name{
    flex-direction: start;
}

.lastNameInput{
    height: 64px;
    width: 12.6vw;
    padding-left: 30px;
    border: solid 1px #b6b9bc;
}

.lastName{
    flex-direction: end;
}

.emailInput{
    height: 64px;
    width: 28.65vw;
    margin-bottom: 25px;
    padding-left: 30px;
    border: solid 1px #b6b9bc;
}

.numberInput{
    height: 64px;
    width: 28.65vw;
    margin-bottom: 25px;
    padding-left: 30px;
    border: solid 1px #b6b9bc;
}

.companyInput{
    height: 64px;
    width: 28.65vw;
    margin-bottom: 25px;
    padding-left: 30px;
    border: solid 1px #b6b9bc;
}

.messageContainer{
    height: 164px;
    width: 28.65vw;
    margin-bottom: 25px;
    padding-left: 30px;
    border: solid 1px #b6b9bc;
}

.contactsSubmitButton{
    height: 64px;
    width: 30.7vw;
    border-radius: 3px;
    color: #ffff;
    margin-top: 50px;
    background-image: linear-gradient(to bottom, #04cfd2, #027e80);
    outline: none;
    border: none;
}

.privacyPolicy{
    text-align: center;
    margin-top: 20px;
    margin-left: 5%;
    color: #1f2937;
    font-size: 14px;
}

.checkboxLabel{
    margin-left: -390px;
    color: #6b7280;
}

@media only screen and (max-width: 1024px){

    .contactContainer{
        background-color: #ffffff;
        margin-left: 60%;
        height: 500px;
    }

    .inputContainer{
        background-color: #ffffff;
    }

    p{
        font-size: 55px;  
        background-color: #ffffff;
    }
    .nameInput{
        width: 11.15vw;
    }
    .lastNameInput{
        width: 11.15vw;
    }
    .checkboxLabel{
        margin-left: 10px;
    }
}

